<table class="table table-striped table-bordered components">
    <thead>
    <tr>
        <th class="library">Library</th>
        <th>Description</th>
        <th class="status">Status</th>
    </tr>
    </thead>
    <tr>
        <td><a href="https://github.com/wmde/Diff">Diff</a></td>
        <td>Small library for representing differences between data structures, computing such differences, and applying them as patches.</td>
        <td>
            <a href="https://packagist.org/packages/diff/diff"><img src="https://poser.pugx.org/diff/diff/version.png" alt="version"></a>
            <a href="https://travis-ci.org/wmde/Diff"><img src="https://travis-ci.org/wmde/Diff.svg?branch=master" alt="build"></a>
            <a href="https://scrutinizer-ci.com/g/wmde/Diff"><img src="https://scrutinizer-ci.com/g/wmde/Diff/badges/coverage.png?b=master" alt="coverage"></a>
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/wmde/Serialization">Serialization</a></td>
        <td>Small library defining a Serializer and a Deserializer interface.</td>
        <td>
            <a href="https://packagist.org/packages/serialization/serialization"><img src="https://poser.pugx.org/serialization/serialization/version.png" alt="version"></a>
            <a href="https://travis-ci.org/wmde/Serialization"><img src="https://travis-ci.org/wmde/Serialization.svg?branch=master" alt="build"></a>
            <a href="https://scrutinizer-ci.com/g/wmde/Serialization"><img src="https://scrutinizer-ci.com/g/wmde/Serialization/badges/coverage.png?b=master" alt="coverage"></a>
        </td>
    </tr>
</table>