<table class="table table-striped table-bordered components">
    <thead>
    <tr>
        <th class="library">Library</th>
        <th>Description</th>
        <th class="status">Status</th>
    </tr>
    </thead>
    <tr>
        <td><a href="https://github.com/wmde/WikibaseDataModelJavascript">Wikibase DataModel JavaScript</a></td>
        <td>The canonical JavaScript implementation of the <a href="https://meta.wikimedia.org/wiki/Wikidata/Data_model">Data Model</a> at the heart of the Wikibase software.</td>
        <td>
            <a href="https://packagist.org/packages/wikibase/data-model-javascript"><img src="https://poser.pugx.org/wikibase/data-model-javascript/version.svg" alt="version"></a>
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/wmde/WikibaseSerializationJavaScript">Wikibase Serialization JavaScript</a></td>
        <td>Serializers and deserializers for the JavaScript implementation of the data model.</td>
        <td>
            <a href="https://packagist.org/packages/wikibase/serialization-javascript"><img src="https://poser.pugx.org/wikibase/serialization-javascript/version.svg" alt="version"></a>
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/wmde/DataValuesJavascript">DataValues JavaScript</a></td>
        <td>Various JavaScript related to the DataValues library.</td>
        <td>
            <a href="https://packagist.org/packages/data-values/javascript"><img src="https://poser.pugx.org/data-values/javascript/version.svg" alt="version"></a>
            <a href="https://travis-ci.org/wmde/DataValuesJavascript"><img src="https://travis-ci.org/wmde/DataValuesJavascript.svg?branch=master" alt="build"></a>
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/wmde/ValueView">ValueView</a></td>
        <td>A set of widgets for displaying and editing values.</td>
        <td>
            <a href="https://packagist.org/packages/data-values/value-view"><img src="https://poser.pugx.org/data-values/value-view/version.svg" alt="version"></a>
        </td>
    </tr>
    <tr>
        <td><a href="https://phabricator.wikimedia.org/diffusion/EWBJ/">Wikibase JavaScript Api</a></td>
        <td>API client for Wikibase Repository</td>
        <td>
            <a href="https://packagist.org/packages/wikibase/javascript-api"><img src="https://poser.pugx.org/wikibase/javascript-api/version.svg" alt="version"></a>
        </td>
    </tr>
</table>