<table class="table table-striped table-bordered components">
<thead>
<tr>
    <th class="library">Library</th>
    <th>Description</th>
    <th class="status">Status</th>
</tr>
</thead>
<tr>
    <td><a href="https://github.com/wmde/WikibaseDataModel">Wikibase DataModel</a></td>
    <td>The canonical PHP implementation of the <a href="https://meta.wikimedia.org/wiki/Wikidata/Data_model">Data Model</a> at the heart of the Wikibase software.</td>
    <td>
        <a href="https://packagist.org/packages/wikibase/data-model"><img src="https://poser.pugx.org/wikibase/data-model/version.png" alt="version"></a>
        <a href="https://travis-ci.org/wmde/WikibaseDataModel"><img src="https://travis-ci.org/wmde/WikibaseDataModel.svg?branch=master" alt="build"></a>
        <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModel"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModel/badges/coverage.png?b=master" alt="coverage"></a>
    </td>
</tr>
<tr>
    <td><a href="https://github.com/wmde/WikibaseDataModelSerialization">Wikibase DataModel Serialization</a></td>
    <td>Library containing serializers and deserializers for the Wikibase DataModel</td>
    <td>
        <a href="https://packagist.org/packages/wikibase/data-model-serialization"><img src="https://poser.pugx.org/wikibase/data-model-serialization/version.png" alt="version"></a>
        <a href="https://travis-ci.org/wmde/WikibaseDataModelSerialization"><img src="https://travis-ci.org/wmde/WikibaseDataModelSerialization.svg?branch=master" alt="build"></a>
        <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelSerialization"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelSerialization/badges/coverage.png?b=master" alt="coverage"></a>
    </td>
</tr>
<tr>
    <td><a href="https://github.com/wmde/WikibaseInternalSerialization">Wikibase Internal Serialization</a></td>
    <td>Library containing serializers and deserializers for the data access layer of Wikibase Repo.</td>
    <td>
        <a href="https://packagist.org/packages/wikibase/internal-serialization"><img src="https://poser.pugx.org/wikibase/internal-serialization/version.png" alt="version"></a>
        <a href="https://travis-ci.org/wmde/WikibaseInternalSerialization"><img src="https://travis-ci.org/wmde/WikibaseInternalSerialization.svg?branch=master" alt="build"></a>
        <a href="https://scrutinizer-ci.com/g/wmde/WikibaseInternalSerialization"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseInternalSerialization/badges/coverage.png?b=master" alt="coverage"></a>
    </td>
</tr>
<tr>
    <td><a href="https://github.com/wmde/WikibaseDataModelServices">Wikibase DataModel Services</a></td>
    <td>Library containing a collection of services around Wikibase DataModel</td>
    <td>
        <a href="https://packagist.org/packages/wikibase/data-model-services"><img src="https://poser.pugx.org/wikibase/data-model-services/version.png" alt="version"></a>
        <a href="https://travis-ci.org/wmde/WikibaseDataModelServices"><img src="https://travis-ci.org/wmde/WikibaseDataModelServices.svg?branch=master" alt="build"></a>
        <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelServices"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelServices/badges/coverage.png?b=master" alt="coverage"></a>
    </td>
</tr>
</table>
